<html>
	<body>
		<h3>Register a new user: </h3>
		<form action="/register_process/" method="post">
			{% csrf_token %}
			<label for="username">Username : </label>
			<input type="text" name="username" placeholder="Username" id="username"/>
			<br>
			<label for="password">Password : </label>
			<input type="password" name="password" placeholder="Password" id="password"/>
			<br>
			<label for="password_again">Password (again) : </label>
			<input type="password" name="password_again" placeholder="Password" id="password_again"/>
			<br>
			<label for="email">Email : </label>
			<input type="text" name="email" placeholder="Email" id="email"/>
			<br>
			{% if error_message %}<p>{{ error_message }}</p>{% endif %}
			<input type="submit" value="Register"/>
			<a href="/">Go back</a>
		</form>						
	</body>

</html>
