<html>
	<body>
		<h3>Sign in: </h3>
		<form action="" method="post">
			{% csrf_token %}
			<label for="username">Username : </label>
			<input type="text" name="username" placeholder="Username" value="{{ username}}" id="username"/>
			<br>
			<label for="password">Password : </label>
			<input type="text" name="password" placeholder="Password" value="{{ password }}" id="password"/>
			<br>
			{% if error_message %}<p>{{ error_message }}</p>{% endif %}
			<input type="submit" value="Sign In"/>
			<a href="/register/">Register</a>
		</form>						
	</body>

</html>
